@media screen and (min-width: 750px) and (max-width: 999px) {
    body {
        background-size: 152%;
    }

    header h1 {
        font-size: 5vw;
    }

    footer {
        font-size: 2vw;
    }

    .tours {
        background-size: 200%;
    }

    .reservation-body {
        background-size: 380%;
    }

    .contact-us {
        background-size: 235%;
    }

    .send-reservation {
        flex-direction: column;
    }

    .reservation-info {
        margin: 0 9vw 0 9vw;
    }

    .rentals-body {
        background-size: 192%;
    }
}

@media screen and (max-width: 95px) {
    .form-hidden {
        display: none;
    }    
}