@media screen and (max-width: 220px) {
    .contact-us-form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .full-name,
    .email,
    .phone,
    .rental-type {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin: 10px 0 10px 0;
    }

    .full-name label,
    .full-name input,
    .email label,
    .email input,
    .phone label,
    .phone input,
    .rental-type label,
    .rental-type select {
        margin: 0 10vw 0 10vw;
    }
    
    .comments textarea,
    .comments label {
        margin: 0 1.5vw 0 1.5vw;
    }
}

@media screen and (max-width: 750px) {
    body {
        background-size: 360%;
    }

    .tours,
    .reservation-body {
        background-size: 710%;
    }

    .contact-us {
        background-size: 350%;
    }

    main {
        margin: 3vh 5vw 3vh 5vw;
    }

    header h1 {
        font-size: 6vw;
        padding-top: 15px;
    }

    .nav nav {
        margin: 0;
    }

    .nav nav ul {
        display: block;
        padding: 0;
    }

    nav ul li {
        padding: 15px;
    }

    .navigation {
        display: block;
        justify-items: center;
        text-align: center;
        flex: 1 1 100%;
        list-style: none;
        justify-content: center;
    }

    .navigation li:first-child {
        display: block;
        border-style: solid;
        background-color: #e7dfd9;
    }

    .navigation li:first-child a {
        color: #463740;
    }

    .navigation li:first-child:hover {
        background-color: #463740;
    }

    .navigation li:first-child:hover a {
        color: #e7dfd9;
    }

    .navigation li {
        display: none;
        margin: 0;
    }

    .responsive li {
        display: block;
    }

    .current-weather-info {
        float: none;
        font-size: 2vw;

    }

    .current-weather-info div {
        display: flex;
        justify-content: center;
    }

    .current-weather-info div p {
        margin: 3px 25px 3px 25px;
    }

    .current-weather-info p:first-child {
        margin-top: 3px;
    }

    .five-day-forcast-data {
        flex-wrap: wrap;
    }

    .five-day-forcast-data div {
        font-size: 3vw;
    }

    .locations-title {
        font-size: 4vw;
    }

    .puerta-maya {
        flex-direction: column;
    }

    .puerta-maya-div {
        margin-right: 0;
        font-size: 2.5vw;
    }

    .playa-del-carmen {
        flex-direction: column;
    }

    .playa-del-carmen-div {
        margin-left: 0;
        font-size: 2.5vw;
    }

    .contact-info {
        font-size: 2.5vw;
        max-width: fit-content;
    }

    .twitter {
        margin-bottom: -6px;
        max-width: 15%;
    }

    .facebook {
        margin-bottom: -9px;
        max-width: 19%;
    }

    .instagram {
        margin-bottom: -6px;
        max-width: 16%;
    }

    footer {
        font-size: 2.8vw;
        ;
    }

    /* SMALL CONTACT CSS */
    .contact-hidden {
        display: none;
    }

    div.submit {
        margin: 20px;
        align-items: center;
        text-align: center;
    }

    .card0 {
        flex-direction: column;
        margin: 40px 0 40px 0;
        gap: 10px;
    }

    .card1 {
        flex-direction: column;
        margin: 40px 0 40px 0;
        gap: 10px;
    }

    .card2 {
        flex-direction: column;
        margin: 40px 0 40px 0;
        gap: 10px;
    }

    .card3 {
        flex-direction: column;
        margin: 40px 0 40px 0;
        gap: 10px;
    }

    .card4 {
        flex-direction: column;
        margin: 40px 0 40px 0;
        gap: 10px;
    }

    .card5 {
        flex-direction: column;
        margin: 40px 0 40px 0;
        gap: 10px;
    }

    .rentals-body {
        background-size: 470%;
    }

}

@media screen and (max-width: 845px) {
    .form-general-info {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .maps {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .puerta-maya-map h2,
    .playa-del-carmen-map h2 {
        margin-bottom: 30px;
    }

    .form-contact-info {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .form-contact-info .contact-info {
        font-size: 1.75vw;
    }

    .submit input {
        margin-left: 24vw;
    }

    /* tours CSS */
    .tours-main {
        display: flex;
        flex-direction: column;
        justify-items: center;
    }

    .tours1,
    .tours2,
    .tours3,
    .tours4,
    .tours5,
    .tours6,
    .tours7,
    .tours8 {
        align-items: center;
        margin: 0 6vw 0 6vw;
    }

    .comments textarea {
        width: 55vw;
    }

    .form-hidden {
        display: none;
    }

    /* RESERVATION SMALL CSS */
    .reservation {
        align-content: center;
        flex-direction: column;
    }

    .reservation-body main h1 {
        text-align: center;
    }
}