@media screen and (min-width: 1000px ) {
    .weather-summary {
        margin-top: 0px;
        left: 16vw;
        top: 54vh;
        max-width: 450px;
    }

    .weather-summary-saturday {
        margin-top: 0px;
        left: 16vw;
        top: 62vh;
        max-width: 450px; 
    }

    .contact-info br {
        display: none;
    }

    .day-forcast {
        margin: 40px;
    }

    .hidden {
        display: none;
    }
}

@media screen and (min-width:1200px) {
    .weather-summary-saturday {
        top: 70vh;
    }

    .weather-summary {
        top: 64vh;
    }
}