@media screen and (min-width: 1000px ) {
    .weather-summary {
        margin-top: 0px;
        left: 14vw;
        top: 48vh;
        max-width: 450px;
    }

    .weather-summary-saturday {
        margin-top: 0px;
        left: 14vw;
        top: 56vh;
        max-width: 450px; 
    }

    .contact-info br {
        display: none;
    }

    .day-forcast {
        margin: 40px;
    }
}

@media screen and (min-width:1200px) {
    .weather-summary-saturday {
        top: 64vh;
    }

    .weather-summary {
        top: 56vh;
    }
}